/* Blockquote */
figure {
    color: $white;
    z-index: 9999;
    max-width: 600px;

    figcaption {
        font-size: 20px;
        font-weight: 400;
        text-shadow: 1px 1px 2px #000000;
    }

    p {
        font-size: 2rem;
        font-weight: 500;
        text-shadow: 1px 1px 2px #000000;
    }

    cite {
        font-size: 20px;
        font-weight: 400;
        text-shadow: 1px 1px 2px #000000;
    }
}


/* Responsiveness Descending */
@media (max-width: 768px) {
    figure {
        color: $white;
        z-index: 9999;
        text-shadow: 1px 1px 2px #000000;
        max-width: 300px;
    
        figcaption {
            font-size: 15px;
        }
    
        p {
            font-size: 1.25rem;
        }
    
        cite {
            font-size: 15px;
        }
    }
    
}


@media (max-width: 390px) {
    figure {
        color: $white;
        z-index: 9999;
        text-shadow: 1px 1px 2px #000000;
        max-width: 250px;
    
        figcaption {
            font-size: 12px;
        }
    
        p {
            font-size: .75rem;
        }
    
        cite {
            font-size: 12px;
        }
    }
    
}