.card-sec {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 300px;
}

.card h2 {
    padding: 0.5rem;
}

.card img {
    object-fit: cover;
    height: 100%;
}

.content {
    padding: 20px;
    object-fit: fill;
}

.button {
    padding-top: .5rem;
}


