.navigation {
    background-color: $primary-color;
    width: 100%;
    z-index: 2;
    position: relative;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px;
}

.nav-link {
    color: $white;
    font-size: $link-font-size;
    text-decoration: $text-decoration;
}

#logo {
    font-size: 3rem;
}

.brand {
    padding-bottom: 10px;
}