.navigation {
    background-color: $white;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo-link {
    display: block;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
   
    &:hover {
        color:#F29F02;
    }
/* }

#slicehaus {
    width: 260px;
    height: 57px;
    fill: black;
    transition: fill 0.2s ease-in-out;

    &:hover {
        fill: #F29F02;
    }
} */ 

.nav-list {
    padding-right: 3rem;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px;
}

.nav-link {
    color: #333E40;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    margin-top: 0;
  
    &:hover {
      color: #F29F02;
    }
  }

  .brand {
    padding: 10px;
  }

  svg {
    height: 56px;
  }