.product-div {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.product-container {
    max-width: 534px;
    border-radius: 60px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 7px 29px #64646f33;
}

.left-clm {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.right-clm {
    width: 25%;
    margin-top: 60px;
    flex-direction: column;
    background-color: #cdcdcd;
}

.left-clm img {
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    width: 363px;
    margin: 1rem;
}

.left-clm img.active {
    opacity: 1;
  }

  /* Product Description */
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }

.product-description span {
    font-size: 12px;
    color: #333E40;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    color: #333E40;
    letter-spacing: -2px;
    font-size: 52px;
    text-align: center;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
  }

  /* Tee Sizes */

  .tee-size {
    margin-bottom: 30px;
  }

  .size-choose div {
    display: inline-block;
  }

  /* size config */
.size-choose {
    margin-bottom: 20px;
}

.size-choose button {
    border: 2px solid #F29F02;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 20px;
    color: #F29F02;
    background-color: white;
    cursor: pointer;
    transition: all .5s;
}

.size-choose button:hover,
.size-choose button:active,
.size-choose button:focus {
    border: 2px solid #F29F02;
    outline: none;
    background-color: #F29F02;
    color: white;
}

.tee-size {
    border-bottom: 1px solid #F29F02;
    margin-bottom: 20px;
}

.tee-size a {
    color: #F29F02;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
}

.tee-size a:before {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #F29F02;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}

.tee-price {
    display: flex;
    align-items: center;
}

.tee-price span {
    font-size: 26px;
    font-weight: 300;
    color: #333E40;
    margin-right: 20px;
}

.smallbtn {
    display: inline-block;
    transition: all .5s;
}

.smallbtn:hover {
    background-color: #F29F02;
}

/* Media Queries */
/* Desktop */

@media (max-width: 1200px) {
    .product-container {
        justify-content: center;
        display: flex;
    }

    .product-description {
        text-align: left;
    }

    .left-clm,
    .right-clm {
        width: 100%;
    }

    .left-clm img {
        width: 300px;
        top: -65px;
        left: initial;
        border-radius: 10px;
    }
    
    .tee-price {
        justify-content: center;
    }

    .size-choose {
        justify-content: space-evenly;
        display: flex;
        width: 100%;
    }

    .tee-size .size-choose {
        display: flex;
    }
}

/* iPad */

@media (max-width: 768px) {
    .product-container {
        margin: 10%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        transform: scale(.85);
    }

    .product-description {
        text-align: left;
    }

    .left-clm,
    .right-clm {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .left-clm img {
        width: 300px;
        top: -65px;
        left: initial;
        border-radius: 10px;
    }
    
    .tee-price {
        justify-content: center;
        width: 100%;
    }

    .size-choose {
        justify-content: space-evenly;
        display: flex;
        width: 100%;
    }

    .tee-size .size-choose {
        display: flex;
        transform: scale(1);
    }

    .size-choose button {
        font-size: 25px;
    }
}

@media (max-width: 520px) {
    .size-choose button {
        font-size: 12px;
    }
}


/* iphone 12 */

@media (max-width: 390px) {
    .product-container {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .product-description {
        text-align: left;

        h1 {
            font-size: 30px
        }

        p {
            font-size: 14px;
        }
    }

    .left-clm,
    .right-clm {
        display: flex;
        justify-content: center;
    }

    .left-clm img {
        width: 200px;
        top: -65px;
        left: initial;
        border-radius: 10px;
    }
    
    .tee-price {
        justify-content: center;
        width: 100%;
    }

    .size-choose {
        justify-content: space-evenly;
        display: flex;
        width: 100%;
        transform: scale(.75);

        button {
            font-size: 20px;
        }
    }

}
