.schedule-section {
    padding: 3rem 0rem;
}

.schedule {
    display: flex;
    justify-content: center;
    text-align: center;

    ul {
        color: #F29F02;
    }
}

/* Side by Side List */
.schedule-days{
    display: flex;
    justify-content: center;
    text-align: center;

    ul {
        line-height: 30px;
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .schedule-days {
        flex-direction: column;
        line-height: 20px;
    }
}