
.section-style {
    max-height: 50vh;
    display: flex;
}

.section-content {
    display: flex;
    flex-direction: row;
}

.content {
    width: 50%;
    font-size: 1.75rem;
    overflow-wrap: normal;
    padding: 4rem 2rem;
    background-color: #F29F02;
    color: white;
    overflow: hidden;

    h1 {
        text-align: center;
    }
}

.content-text {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:1800px) {
    .content {
        font-size: 2.75rem;
    }
}

.img-right {
    width: 50%;
    overflow: hidden;
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1100px) {

    .content {
        font-size: 1.2rem;
    }
}

/* Responsive Tablet */

@media screen and (max-width:768px) {
    .section-content {
        flex-direction: column;

        .content {
            width: 100%;
            font-size: 1rem;
            padding: 2rem;

            h2 {
                text-align: center;
            }

            p {
                width: 75%;
            }
        }

        .img-right {
            width: 100%;
        }
    }

    .section-style {
        max-height: 75vh;
    }
}

/* Responsive Phone */

@media screen and (max-width: 390px) {
    .section-content{

        .content {
            font-size: .70rem;
            color: #ffffff;
            padding: 1rem .5rem;

            h1 {
                font-size: 2rem;
            }
        }
    }
}
