
.section-style {
    max-height: 50vh;
    display: flex;
}

.section-content {
    display: flex;
    flex-direction: row;
}

.content {
    width: 40%;
    align-items: center;
    font-size: 1.1rem;
    overflow-wrap: normal;
    padding: 5rem 3rem;
    background-color: #F29F02;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 5rem;
        text-align: center;
    }
}

.img-right {
    width: 60%;
    overflow: hidden;
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}



/* Responsive Tablet */

@media screen and (max-width:768px) {
    .section-content {
        flex-direction: column;

        .content {
            width: 100%;
            font-size: 1rem;

            h2 {
                text-align: center;
            }

            p {
                width: 75%;
            }
        }

        .img-right {
            width: 100%;
        }
    }

    .section-style {
        max-height: 75vh;
    }
}

/* Responsive Phone */

@media screen and (max-width: 390px) {
    .section-content{

        .content {
            font-size: .70rem;
            color: #ffffff;
            padding: 1rem .5rem;

            h1 {
                font-size: 2rem;
            }
        }
    }
}
