@import url("https://use.typekit.net/zgf7eai.css");

/* fonts */
$fonts: "brandon-grotesque", sans-serif;
$link-font-size: 1.5rem;



/* colors */
$primary-color: #3a3153;
$white: #FFFDFA;

/* Links */
$text-decoration: none;

