@import url("https://use.typekit.net/zgf7eai.css");
/* fonts */
/* colors */
/* Links */
/* .smallbtn {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #F29F02;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 20px;
}
 */
/* CSS */
.smallbtn {
  appearance: button;
  background-color: #482f00;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  text-decoration: none;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.smallbtn:after {
  background-clip: padding-box;
  background-color: #F29F02;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.smallbtn:focus {
  user-select: auto;
}

.smallbtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.smallbtn:disabled {
  cursor: auto;
}

.navigation {
  background-color: #FFFDFA;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* .logo-link {
    display: block;
    transition: color 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
        color:#F29F02;
    }
/* }

#slicehaus {
    width: 260px;
    height: 57px;
    fill: black;
    transition: fill 0.2s ease-in-out;

    &:hover {
        fill: #F29F02;
    }
} */
.nav-list {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 10px;
}

.nav-link {
  color: #333E40;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  margin-top: 0;
}
.nav-link:hover {
  color: #F29F02;
}

.brand {
  padding: 10px;
}

svg {
  height: 56px;
}

.hero {
  padding-bottom: 300px;
  position: relative;
  display: flex;
  align-items: center;
  height: 700px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "brandon-grotesque", sans-serif;
}

/* Hero */
.hero {
  background-image: url(../../images/hero.png);
}

.hero-section-text {
  color: white;
  position: relative;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.logo-link {
  padding: 20px;
  /* Set the initial color of the path */
  /* Change the color of the path when hovering over the link */
}
.logo-link svg path {
  fill: #333E40;
  transition: fill 0.2s ease-in-out;
}
.logo-link:hover svg path {
  fill: #F29F02;
}

/* button */
.btnsec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

/*# sourceMappingURL=style.css.map */
