@import './base/variables';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/forms';
@import 'pages/home';
@import './components/nav';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fonts;
}
