@import './base/variables';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/forms';
@import 'pages/home';
@import './components/nav';
@import './components/hero';

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Nav */
.nav-list {
    padding-right: 3rem;
}

.brand {
    padding-left: 3rem;
}

/* Hero */
.hero {
    margin-top: -300px;
    background-size: cover;
    background-position: center;
    background-image: url(../../deadline.jpg);
    height: 100vh;
    position: relative;
    z-index: 1;
    }