@import './base/variables';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/forms';
@import 'pages/home';
@import './components/nav';
@import './components/hero';
@import './components/card';
@import './components/product.scss';
@import './components/footer';
@import './components/blockquote';


*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: $fonts;
}
  
  /* button */
.btnsec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}
  

